var unlike_button = '<%= link_to like_path(@like_id, post_id: @post.id), method: :delete, remote: true, class: "text-danger icon" do %><i class="far fa-heart"></i><% end %>'
var num_likes = '<span><%= @post.likes.size %></span>'
$("#like_<%= @post.id %>").empty().append(unlike_button, " ", num_likes)