var like_button =  '<%= link_to likes_path(post_id: @post.id), method: :post, remote: true, class: "text-dark icon" do %><i class="far fa-heart"></i><% end %>'
var num_likes = '<span><%= @post.likes.size %></span>'
$("#like_<%= @post.id %>").empty().append(like_button, " ", num_likes)