var like_button = '<%= link_to polymorphic_path([@parent, Like]), method: :post, remote: true, class: "text-dark icon" do %><i class="far fa-heart"></i><% end %>'
var num_likes = '<span><%= @parent.likes.size %></span>'
$("#like_<%= @parent.class.name.downcase%>_<%=@parent.id%>").empty().append(like_button, " ", num_likes)
