@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    min-width: 400px;
}

.main-content {
    margin-top: 5%;
}

.bg-main {
    background-color:#355C7D;
}

.text-main {
    color: #355C7D;
}

.link-muted {
    a {
        color: #6c757d;
    }
}

.side-label {
    margin-top: 20%;
}

.navbar li {
    margin-left: 1.5rem;
}

.bg-primary-lighter {
    background-color: rgba(0, 123, 255, 0.2);
}

.bg-trans-30 {
    background-color: rgba(255, 255, 255, 0.3);
}

.alert {
    border-radius: 0;
}

.alert-alert {
    @extend .alert-warning
}

.alert-notice {
    @extend .alert-success
}

.post-button {
    width: 100%;
    text-align: left;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 500px;
    color: rgb(70, 70, 70);
    background-color: rgb(209, 209, 209);
    border: 0;
}

.post-button:hover {
    background-color: rgb(187, 187, 187);
}

.post-button:focus {
    border: 0;
    outline: 0;
}

.post-input-body {
    height: 300px !important;
}

.icon {
    text-decoration: none;
}

.icon:hover {
    text-decoration: none;
}